<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Allows people to save their favorite books">
    	<meta name="keywords" content="one, two, three">

		<title>The Books Collection</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<h1>A List Of Your Favorite Books</h1>
		<form action="/books" method="POST">
			<input type="text" placeholder="author" name="author" />
			<input type="text" placeholder="books" name="books" />
			<button type="submit">Submit</button>
		</form>

        <h2>Your book list here</h2>

<ul class="books">
  <!-- Loop through quotes -->
  <% for(var i = 0; i < books.length; i++) {%>
  <li class="books">
    <!-- Output name from the iterated quote object -->
    <span><%= books[i].author %></span>:
    <!-- Output quote from the iterated quote object -->
    <span><%= books[i].books %></span>
  </li>
  <% } %>
</ul>

<div>
    <h2>New List of Books</h2>
    <p>Replace first your old books with your new favorite books</p>
    <button id="update-button">Replace Books</button>
  </div>

  <div id="message"></div>
  
  <div>
    <h2>Delete Books</h2>
    <p>
      Delete some books you no longer favorite Does nothing if there are no more books.
    </p>
    <button id="delete-button">Delete Book</button>
  </div>
		<script type="text/javascript" src="main.js"></script>
	</body>
</html>
